*{
  padding: 0;
  margin: 0;
}
input:-webkit-autofill {
  background-color: transparent !important;
  color: black !important;
}
:root{
  --primary-color:#180F0E;
}
.app-component{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}
.limiter{
  max-width:1240px ;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}